:root {
  --main-primary-color: #e94d6f;
  --main-secondary-color: #375c8b;
  --main-primary-highlight-color: pink;
}

.thiscard {
  margin-top: 2%;
  background-color: var(--main-primary-color);
  color: white;
  margin-left: 13%;
  margin-bottom: 5%;
  margin-top: 3%;
  position: relative;
}

.card-title-new {
  position: relative;
  margin-left: 20%;
  font-size: 4em;
  align-items: center;
  padding: 2%;
  color: var(--main-secondary-color);
}
.add-button {
  position: absolute;
  vertical-align: bottom;
  margin: 3%;
}
.col-6 {
  position: relative;
}

.playerPhoto {
  bottom: 0;
  right: 10;
  position: absolute;
}
.card-body {
  padding-bottom: 0;
}
