:root {
  --main-primary-color: #e94d6f;
  --main-secondary-color: #375c8b;
  --main-primary-highlight-color: pink;
}

.card {
  margin-top: 2%;
  background-color: var(--main-primary-color);
  color: white;
  margin-left: 13%;
  margin-bottom: 5%;
  margin-top: 3%;
  position: relative;
}
.card-title {
  margin-left: 27%;
  font-size: 4em;
  align-items: center;
  padding: 2%;
}
.playerPhoto {
  max-height: 100%;
  max-width: 80%;
  margin-top: 4.3%;
  position: absolute;
  vertical-align: bottom;
}
