:root {
  --main-primary-color: #e94d6f;
  --main-secondary-color: #375c8b;
  --main-primary-highlight-color: pink;
}

* {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background: var(--main-secondary-color);
  margin-bottom: 1%;
}
.navbar.navbar-brand {
  color: #fff;
  font-size: 3em;
}

.navLinks:hover,
.navbar .navbar-brand:hover {
  color: var(--main-primary-color);
  text-decoration: none;
}
.navbar-toggler {
  background-color: #fff;
}
.top-nav {
  list-style-type: none;
  display: flex;
  padding-top: 8%;
}
