.rosterItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.card-title {
  color: var(--main-secondary-color);
}

.team-show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.rosterItem:hover {
  text-decoration: underline;
}

