.rosterItem {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1% auto;
}

.rosterItem>span {
  flex-grow: 1
}

.rosterItem>.flex-item {
  flex-grow: 0;
}

.card-title {
  color: var(--main-secondary-color);
}

.card-title:active {
  text-decoration: underline;
}

.team-show-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-show-header>span {
  flex-grow: 1
}

.team-show-header>.flex-item {
  flex-grow: 0;
}

.card-text {
  padding: 2%;
}

.alt-color {
  color: var(--main-secondary-color);
}

.btn-warning {
  background-color: yellow !important;
}