:root {
  --main-primary-color: #e94d6f;
  --main-secondary-color: #375c8b;
  --main-primary-highlight-color: pink;
}

.jumbotron-fluid {
  color: #fff;
  background-color: var(--main-secondary-color);
  padding-left: 8%;
  width: 100%;
}